Package: com.bandarHl.carrierchanger
Name: CarrierChanger
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome Tweak to change carrier for anything you want!
Maintainer: @BandarHl
Author: @BandarHl
Section: MyTweaks
